* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}


/* define the grid */

.container {
  display: grid;
  grid-template: repeat(4, auto) / 1fr 4fr;
  grid-gap: 4px;
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.logo {
  justify-self: start;
  align-self: center;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: end;
  list-style: none;
}


.sidebar {
  grid-row: 2 / -2;
  grid-column: 1 / span 1;
  
  display: grid;
  grid-row-gap: 50px;
}

.side-content, .photo {
  display: grid;
  align-items: center;
}


.nav > ul{
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  list-style: none;
}

.article {
  grid-row: 3 / 4;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

.card {
  height: 200px;
}

.footer {
  grid-row: -2 / -1;
  grid-column: 1 / -1;
}

